body{
    background-color: black;
    height: 100vh;
    display:grid;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "MyCartoon MyCartoon MyCartoon"
    "about about about"
    "project project project"
    "footer footer footer";
    grid-template-rows: 50px 150px auto auto auto 50px;
    margin:0;
    color:whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-left: white;
    border-left-width:5px;
    border-left-style:double;
}

nav{
    grid-area: nav;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content:end;
    gap: 50px;
    margin-right: 5%;
}
nav ul li{
    border-top-color: white;
    border-top-width:5px;
    border-top-style: dashed;
}


header{
    /*background-color: blue;*/
    grid-area: header;
    text-align: center;
    padding-top: 50px;
}


.MyCartoon{
    grid-area: MyCartoon;
    text-align: center;
}
.MyCartoon img {
    height: 300px;
    width: 400px;
}

.About{
    grid-area: about;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}


#Projects{
    grid-area: project;
    text-align: center;
}
.ProjectsClass{
    /*background-color: darkcyan;*/
    grid-area: project;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 5%;
}
footer{
    grid-area: footer;
    /*background-color: coral;*/
    text-align: center;
}
li a{
    text-decoration: none;
    color:whitesmoke;
}

li{
    list-style-type: none;
}
